@import './base.css';

#app {
  width: 100%;
  margin: 0 auto;
}

.container {
  margin: auto;
  width: 90%;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

.new {
  height: 90dvh;
  width: 90%;
  margin: 1.5rem auto;
  background-color: hsla(160, 100%, 37%, 0.2);
  border: 2px solid hsla(160, 100%, 37%, 0.2);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
